= link_to (t ".log_in"), new_session_path(resource_name)
= " | "

= link_to (t ".forgot_password"), new_password_path(resource_name)
= " | "

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to (t ".unlock_instructions"), new_unlock_path(resource_name)
  = " | "

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to (t ".confirmation_instructions"), new_confirmation_path(resource_name)
  = " | "

= link_to (t ".sign_up"), new_registration_path(resource_name)

.provider-links
  = t ".sign_in_provider"
  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      = link_to ( "#{provider.to_s.titleize}"), user_facebook_omniauth_authorize_path
