%header.navbar.navbar-inverse
  .container
    .navbar-brand
      = link_to "Course Management", root_path, style: "color: white; font-size: 20px;"
    %nav
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Hello
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to edit_user_path(current_user) do
                    %i.fa.fa-pencil-square-o.fa-lg{"aria-hidden" => "true"}
                    Edit Profile
                %li.divider
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i.fa.fa-sign-out.fa-lg{"aria-hidden" => "true"}
                    Sign Out
          - else
            %li= link_to "Sign In", new_user_session_path
